@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff7236;
  --color-secondary: #f7b900;
}

* {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
}


/* swiper bullet design */

.paginationCustom .swiper-pagination-bullet{
  background-color: white;
}

.paginationCustom .swiper-pagination-bullet-active {
  background-color: #ff7700;
}
